html, body {
  height: 100%;
  weight:100%;
}

#home  {
  background: url("img/top-bg.jpg") no-repeat fixed center;
  display: table;
  height:100%;
  position:relative;
  width:100%;
  background-size: cover;
}
#register {
  background: url("img/register-bg.jpg") no-repeat fixed center;
  display: table;
  height:100%;
  position:relative;
  width:100%;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h2 {
  font-size: 400%;
  font-weight: bolder;
  color: #ff8124;
  font-family: "Amatic SC", sans-serif;
  text-shadow: #2d2d2d 2px 3px 4px;

}
.landing-text h3 , label{
  font-size: 300%;
  font-weight: bolder;
  color: #0eaae9;
  font-family: "Amatic SC", sans-serif;
  text-shadow: #2d2d2d 2px 3px 4px;
}
.landing-text h1 {
  font-size: 300%;
  font-weight: bolder;
  color: #0eaae9;
  font-family: "Amatic SC", sans-serif;
  text-shadow: #2d2d2d 2px 3px 4px;
}

.landing-text h1 img {
  width: 40%;
  min-width: 300px;
}
.first-button {
  color: #ff8124;
  font-family: "Amatic SC", sans-serif;
  font-size: 250%;
  font-weight: 600;
  padding: 3px 20px;
  margin-bottom: 40px;
}


.padding {
  padding: 80px;
}

h2 {
  color: #2d2d2d;
  font-family: "Amatic SC", sans-serif;
  font-size: 300%;
  font-weight: 600;
}
.reg-title {
  color: #ff8124;
  font-family: "Amatic SC", sans-serif;
  font-size: 400%;
  font-weight: 600;
  margin-bottom: 10%;
}

.lead span {
    color: #ff8124;
}
.lead {
  color: #2d2d2d;
  font-family: "Amatic SC", sans-serif;
  font-size: 200%;
  font-weight:bold;
}
.head1{
  color: #ff8124;
}
.head2{
  color: #0eaae9;
}
.lead1, .lead2, .lead3 {
  text-decoration: underline #0eaae9;
}
.lead4, .lead5, .lead6 {
  text-decoration: underline #ff8124;
}
.y-logo{
  height: 70%;
}
.phone {
  display: block;
  margin: 50px auto;
  min-width: 100px;
  width: 40%;
}

.bottom-pic {
  background: url("img/bottom-bg.jpg") no-repeat fixed center;
  display: table;
  width:100%;
  min-height: 500px;
  position:relative;
  background-size: cover;
}
.bottom-pic img{
  width:40%;
  min-width: 300px;
  margin-top: 50px;
}
#login-email, #login-password{
  min-width: 300px;
  margin-bottom: 5px;
  background-color: #d3d3d3;
  height:45px;
  color: #FFF;
}
.reg-form {
  display:inline-block;
  text-align: center;
}

.form-group {
  display:inline-block;
    text-align: center;
}
.second-button {
  color: #0eaae9;
  font-family: "Amatic SC", sans-serif;
  font-size: 200%;
  font-weight: 600;
  padding: 3px 20px;
}
.second-button1 {
  color: #0eaae9;
  font-family: "Amatic SC", sans-serif;
  font-size: 200%;
  font-weight: 600;
  padding: 3px 20px;
}
.second-button2 {
  color: #fff;
  font-family: "Amatic SC", sans-serif;
  font-size: 200%;
  font-weight: 600;
  padding: 3px 20px;
}
.second-button:hover{
  color: #ff8124;
}
.second-button1:hover{
  color: #2d2d2d;
}
.login {
  color: #2d2d2d;
  background-color:#ff812490;
  font-family: "Amatic SC", sans-serif;
  font-size: 150%;
  font-weight: 600;
  padding: 3px 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.reg-form input {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #d3d3d3;
}
footer{
  width: 100%;
  background-color: #ffffff;
  margin-top:5px;
  color:#2d2d2d;
}
.fa{
  padding: 15px;
  color: #2d2d2d;
}
.fa:hover {
  color: #d5d5d5;
  text-decoration: none;
}

@media (max-width:768px) {
  .head2 {
    padding-top: 20px;
  }
  .padding{
    padding:20px;
  }
  .landing-text h2{
    font-size: 250%;
  }
  .landing-text h3{
    font-size: 150%;
  }
  .row h2 {
    font-size: 200%;
  }
  .lead {
    font-size: 150%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
